body {font-family: var(--font-Alegreya);
    color: white;
    padding: 0;}
  
  input[type=text], textarea, input[type=email] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    margin-right: 0px;
    margin-left: 0px;
    resize: vertical;
  }
  label{margin-right: 0px;
    margin-left: 0px;
    width: 100%;}
  
  input[type=submit] {
    background-color: var(--fond-sombre);
    font-size: var(--contact);
    color: white;
    padding: 5% 40%;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: var(--fond-sombre);
  }
  
  .container {
    /* Ajouter box-sizing */
    box-sizing : border-box;
    background-color:var(--fond-sombre);
    padding:20px;
    width: 100%;
    /* redéfinition 400 + 2*20 */
    max-width: 440px;
    margin:0 auto;
  }